html, body {
  margin:0;
  padding:0;
  height: 100%;
}

#page {
  height: 92%;
}

.slideshow-wrapper {
  position:relative;
  width: 100%;
  height: 100%;
}

.slide {
  z-index: 0;
  opacity: 0;
  position: absolute;
  display: block;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: opacity 1s; /* Safari */
  transition: opacity 1s;
}

.slide-on {
  opacity: 1;
}

.slide-1 {
  background-image: url('<?php echo $slide1_src; ?>');
}

.slide-2 {
  background-image: url(<?php echo $slide2_src; ?>);
}

.slide-3 {
  background-image: url(<?php echo $slide3_src; ?>);
}

.slide-4 {
  background-image: url(<?php echo $slide4_src; ?>);
}

.slide-5 {
  background-image: url(<?php echo $slide5_src; ?>);
}

.slide-6 {
  background-image: url(<?php echo $slide6_src; ?>);
}

.logo-handmade {
  max-width: 394px;
  z-index: 2;
  position: fixed;
  bottom: 1%;
  right: 2%;
}
